.container-adress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
}

.container-city-uf-input {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    width: 60%;
}

.container-adress-input {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
    width: 90%;
}
