.final-destination-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #002c52;
    font-weight: bolder;
    font-size: large;
    font-family: 'Roboto';
    height: 100%;
    width: 100%;
}

.adress-container {
    width: 100%;
}
